name: relay-rewards-controller
services:
  mongo:
    container_name: relay-rewards-mongo
    image: mongo:5.0
    expose:
      - '27017'
    ports:
      - 27017:27017
  redis:
    container_name: relay-rewards-redis
    image: redis:7
    expose:
      - '6379'
    ports:
      - 6379:6379
  relay-rewards-controller:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - mongo
      - redis
